# /etc/systemd/system/updates.service
# This is installed as root because network-online.target is not available for user systemd.
[Unit]
Description=System updates
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=valankar
ExecStartPre=sleep 1m
ExecStart=/home/valankar/bin/updates.sh
Restart=on-failure
RestartSec=1m
