# /etc/systemd/system/kopia.service
[Unit]
Description=Kopia backups
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=kopia snapshot create --all --no-progress --log-level=error --file-log-level=error
#ExecStartPost=curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/...
